@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

nav ul {
    list-style-type: none;
    margin: 1.5 rem auto;
    padding: 0;
    overflow: hidden;
    background-color: #00000000;
    display: inline-block;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav ul li a:hover:not(.active) {
    background-color: #00000000;
  }

  .active {
    background-color: #00000000;
  }

  h1 {
    margin: 25px 35px 70px;
  }

  .container {
    display: inline-flex;
  }

  .card {
    width: 250px;
    height: 225px;                 /* Set width of cards */
    display: flex;                /* Children use Flexbox */
    flex-direction: column;       /* Rotate Axis */
    border: 1px solid white;    /* Set up Border */
    border-radius: 4px;           /* Slightly Curve edges */
    overflow: hidden;             /* Fixes the corners */
    margin: 35px;                  /* Add space between cards */
  }

  .card-header {
    color: #75978d;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 1px solid #75978d;
    background-color: white;
    padding: 5px 10px;
  }

  .card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
  }

  button {
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    border: 1;
    border-radius: 1px;
    border-block-end-color: white;
    border-block-start-color: white;
    border-left-color: white;
    border-right-color: white;
    background: #236EB9;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 15px;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 25px;
    font-family: "Poppins";
  }

  button:hover {
    background: #ccc;
    color: #236EB9;
    font-weight: bold;
  }

  button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #236EB9;
  }

  .main-description {
    color: white;
    font-size: 20px;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 150px;
  }

  @media only screen and (max-width: 600px) {
    .container{
      display: inline-block;
    }

    .container-2{
      margin-top: -15px;
    }
  }


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

* { color:#fff; text-decoration: none;}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 12.5%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.typewrite{
  font-size:4.5rem;
}
.header {
    background-image:url(images/headerimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height:75vh;
    display:flex;
    justify-content:flex-end;
    flex-flow: column wrap;
}

.header-text{
    color:black;
    margin:0;
    padding:.35rem;
    font-family: 'Questrial', sans-serif;
}

h1.header-text{
    font-size:6.5rem;
}

h2.header-text{
    font-size:4rem;
}

.header-text{
  color: white;
}

body {
  margin: 100px;
  background-color:#236EB9;
  text-align: left;
  font-family: 'Questrial';
  color:#fff;
}

* { color:#fff; text-decoration: none;}

#slideshow {
  margin: 0px auto;
  position: relative;
  width: 450px;
  height: 450px;
  padding: 10px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.4);
}


.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100px;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
  width: 100px;
}

.text {
  background-color: #236EB9;
  color: white;
  font-size: 23px;
  padding: 16px 16px;
  width: 100px;
}

span a{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Questrial', sans-serif;

}
span a:before,
span a:after{
  position: absolute;
  content: "DONATE";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.right {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 0px;
  padding: 10px;
}
