html {
    background-color:#75978d;
    font-size:62.5%;    
}

body {
    margin:0;   
}

.header {
    background-image:url(images/headerimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height:75vh;
    display:flex;
    justify-content:flex-end;
    flex-flow: column wrap;
}

.header-text{
    color:black;
    margin:0;
    padding:.35rem;
}

h1.header-text{
    font-size:6.5rem;
}

h2.header-text{
    font-size:5rem;
}