html {
    background-color:#75978d;
    font-size:62.5%;    
}

body {
    margin:0;   
    /*THIS WILL APPLY TO ALL TEXT AUTOMATICALLY*/
    color:white;
    font-size:2.5rem;
    font-family: 'Montserrat', arial, sans-serif;
    text-align:center;
    /*NO NEED TO STYLE IT ON YOUR OWN, HEADINGS SCALE AUTOMATICALLY*/
}


/*START HEADER*/
.header {
    background-image:url(images/headerimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height:75vh;
    display:flex;
    justify-content:flex-end;
    flex-flow: column wrap;
}

.header-text{
    color:black;
    margin:0;
    padding:.35rem;
    text-align:left;
}

h1.header-text{
    font-size:6.5rem;
}

h2.header-text{
    font-size:5rem;
}
/*END HEADER*/

/*START MISSION*/
.mission{
    display:flex;
    margin:10rem;
}

.mission-child{
    margin:5rem;
}
/*END MISSION*/

/*START ABOUT*/
.columns{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:6.5rem;
    
}

.column{
    width:30vw;
    margin:0;
}

#about-anchor{
    color:white;
}
/*END ABOUT*/

/*START SOCIAL*/

#social-icon{
    width:7rem;
    margin:2rem 3vw;
}
/*END SOCIAL*/


/*START DONATE*/
.donate-div{
    display:flex;

}

.donate-img{
    width:50vw;
    height:auto;
    margin:0;
}

.donate-text{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    padding:10rem;
}

.donate-button{
    display:flex;
    background-color:white;
    width:8em;
    height:6rem;
    justify-content:center;
    align-items:center;
    box-shadow: .5rem .7rem black;
}

a.donate-button, a.donate-button:link, a.donate-button:visited{
    color:black;
    text-decoration:none;
    font-style:normal;
}

/*END DONATE*/

/*START GRANTS1*/

.grants1{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
}

img.grants1{
    margin:0;
    width:25vw;
}

#numbers{
    width:33vw;
}
/*END GRANTS1*/

/*START GRANTS2*/

.grants2{
    padding:0 25%;
}

#iwp{
    width:100%;
}

/*END GRANTS 2*/
