
section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
    transition: 0.5s;
}

.container .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
}

.container .card .content .imgBox {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, .25);
}

.container .card .content .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
}

.container .card .content .contentBox h3 {
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .content .contentBox h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.container .card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
}

.container .card .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}

.container .card:hover .sci li {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .sci li a {
    color: lightgray;
    font-size: 24px;
}

.container .card .sci li a:hover {
    color: gray;
    transition: 0.3s;
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

* { color:#fff; text-decoration: none;}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 12.5%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.typewrite{
  font-size:4.5rem;
}
.header {
    background-image:url(images/headerimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height:75vh;
    display:flex;
    justify-content:flex-end;
    flex-flow: column wrap;
}

.header-text{
<<<<<<< Updated upstream
    color:white;
=======
    color:black;
>>>>>>> Stashed changes
    margin:0;
    padding:.35rem;
    font-family: 'Questrial', sans-serif;
}

h1.header-text{
    font-size:6.5rem;
}

h2.header-text{
    font-size:4rem;
}

.header-text{
  color: white;
}

body {
  background-color:#236EB9;
  margin: 100px;
  text-align: left;
  font-family: 'Questrial';
  color:#fff;
}
